<h1 class="text-center">Où manger entre collègues ?</h1>
<div class="row">
  <p>Les meilleures adresses de votre ville par nos utilisateurs !!! : ) </p>
</div>
<div class="d-flex justify-content-end">
  <%= link_to "Ajouter un restaurant", new_restaurant_path, class:"btn btn-info" %>
</div>
<div class="row" >
  <div class="mb-3">
    <label for="js_search_by_city" class="form-label">Choisir une ville pour obtenir les meilleures adresses.</label>
    <% if @cities.count != 0 %>
      <select class="form-select" id="js_search_by_city">
        <option selected value="">Selectionné une ville...</option>
        <% @cities.each do |city| %>
          <option value="<%= city.name%>"><%= city.name.capitalize%> </option>
        <% end %>
      </select>
    <% else %>
      <div class="bg-danger text-light"> erreur de chargement</div>
    <% end %>
  </div>
</div>
<div id="js_list_restaurant_fetch" class="row justify-content-between"></div>
