<div class="col-6">
  <h2>Créer un utilisateur</h2>
  <form action="/user" method="post">
    <p id="notice"><%= notice %></p>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class='mb-3'>
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="user[username]" value="<%= @user.username %>" />
    </div>
    <div class='mb-3'>
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="user[password]" />
    </div>
    <div class='mb-3'>
      <label for="password">Password confirm</label>
      <input type="password" class="form-control" id="password" name="confirm_password" />
    </div>
    <input type="submit" class="btn btn-info" value="Register">
  </form>
</div>
